source https://api.nuget.org/v3/index.json

storage: none
nuget Fable.Elmish
nuget Fable.Elmish.HMR
nuget Fable.Form
nuget Fable.Form.Simple
nuget Fable.Form.Simple.Bulma
nuget Fable.Form.Simple.Fields.Html
nuget Fable.Promise
nuget Feliz
nuget Feliz.Router
nuget FSharp.Core